[Desktop Entry]
Type=Application
Exec=gnome-terminal -e "bash -c '/home/xuqi/openpilot/launch_pc.sh;$SHELL'"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[zh_CN]=CarrotPilot
Name=CarrotPilot
Comment[zh_CN]=
Comment=
