[Desktop Entry]
Type=Application
Exec=gnome-terminal -e "bash -c '/home/xuqi/openpilot/launch_lane.sh;$SHELL'"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[zh_CN]=Lane
Name=Lane
Comment[zh_CN]=
Comment=
