[Desktop Entry]
Name=CamBlindSpot
GenericName=CamBlindSpot
Comment=openpilot is an operating system for robotics
Exec=gnome-terminal -e "bash -c '/home/xuqi/openpilot/launch_cam.sh;$SHELL'"
Terminal=false
Type=Application
Icon=/home/xuqi/openpilot/logo.ico
