[Desktop Entry]
Name=PandaSrv
GenericName=PandaSrv
Comment=openpilot is an operating system for robotics
Exec=gnome-terminal -e "bash -c '/home/xuqi/openpilot/stoppandasrv.sh;$SHELL'"
Terminal=false
Type=Application
Icon=/home/xuqi/openpilot/logo.ico
