[Desktop Entry]
Name=Sunnypilot
GenericName=Sunnypilot
Comment=openpilot is an operating system for robotics
Exec=gnome-terminal -e "bash -c '/home/xuqi/openpilot/launch_pc.sh;$SHELL'"
Terminal=false
Type=Application
Icon=/home/xuqi/openpilot/logo.ico